/*variables*/
/*mixins*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 16px;
  background-color: #282c34;
}
*::-webkit-scrollbar-thumb {
  background-color: #c0402b;
  border-radius: 30px;
  border: 3px solid #282c34;
}

:root {
  --scroll-enabler: auto;
}

body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: whitesmoke;
  overflow: var(--scroll-enabler);
}

code {
  font-family: monospace;
}

.app {
  position: relative;
}

#app-header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #282c34;
  padding: 15px 2vw 10px 7vw;
  border-bottom: 1px solid #c0402b;
  z-index: 98;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
#app-header .main-logo svg {
  min-width: calc(50px + 1vmin);
  height: calc(50px + 1vmin);
}
#app-header .keep-h {
  font-size: calc(20px + 1vmin);
}
#app-header .built-with {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 0.3rem 0.5rem;
}
@media only screen and (max-width: 780px) {
  #app-header .built-with {
    padding: 0.2rem 0.3rem;
  }
}
#app-header .built-with .built-with-logo svg {
  width: calc(45px + 1vmin);
  height: calc(45px + 1vmin);
}
#app-header .built-with .built-with-logo:nth-child(even) svg {
  width: calc(30px + 1vmin);
  height: calc(30px + 1vmin);
}
@media only screen and (max-width: 780px) {
  #app-header .built-with .built-with-logo:nth-child(even) svg {
    display: none;
  }
}

#app-form {
  width: 90vw;
  max-width: 600px;
  border: 1px solid #c0402b;
  border-radius: 10px;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 5px;
  overflow: hidden;
  margin: 4vh auto;
  margin-bottom: 6vh;
  z-index: 99;
}
#app-form .input-element {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  font-size: large;
  width: 100%;
  padding: 0.6rem 1rem;
}
#app-form .input-element#input-title {
  display: none;
  font-weight: 600;
}
#app-form .input-element#input-content {
  font-family: sans-serif;
  resize: none;
  overflow: hidden;
  padding: 0.6rem 1rem 0.3rem 1rem;
}
#app-form .button-container {
  display: none;
  text-align: right;
}
#app-form .button-container .close-button {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
#app-form .button-container .close-button:hover {
  background-color: #2e4060;
}

#app-display {
  /************************************************************/
}
#app-display .edit-div {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.26);
  padding: 0 1rem;
}
#app-display .edit-div .edit-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 75vh;
  background-color: #282c34;
  border: 1px solid #c0402b;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: pop 0.2s ease forwards;
          animation: pop 0.2s ease forwards;
}
@media only screen and (max-width: 780px) {
  #app-display .edit-div .edit-form {
    width: 90vw;
  }
}
@-webkit-keyframes pop {
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pop {
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
#app-display .edit-div .edit-form .edit-input {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  font-size: large;
  width: 100%;
  padding: 0.6rem 1rem;
}
#app-display .edit-div .edit-form .edit-input#edit-title {
  font-weight: 600;
}
#app-display .edit-div .edit-form .edit-input#edit-content {
  font-family: sans-serif;
  resize: none;
  flex: 1;
}
#app-display .edit-div .edit-form .edit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  border-top: 1px solid #c0402b;
}
@media only screen and (max-width: 780px) {
  #app-display .edit-div .edit-form .edit-button-container {
    padding: 0.3rem 0;
  }
}
#app-display .edit-div .edit-form .edit-button-container #edit-delete {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;
}
#app-display .edit-div .edit-form .edit-button-container #edit-delete:hover {
  background-color: #2e4060;
}
#app-display .edit-div .edit-form .edit-button-container #edit-time {
  margin: auto;
  font-size: 12px;
}
#app-display .edit-div .edit-form .edit-button-container #edit-time span {
  font-size: 11px;
}
#app-display .edit-div .edit-form .edit-button-container #edit-close {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;
}
#app-display .edit-div .edit-form .edit-button-container #edit-close:hover {
  background-color: #2e4060;
}
#app-display .display-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  width: 90vw;
  margin: auto;
  gap: 1rem;
}
@media only screen and (max-width: 780px) {
  #app-display .display-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
#app-display .display-container .display-card {
  border: 1px solid #c0402b;
  border-radius: 10px;
  background-color: #282c34;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 5px;
  overflow: hidden;
  padding: 0.7rem 1rem;
  transition: all 0.2s ease;
  transition-property: transform;
}
#app-display .display-container .display-card:hover {
  transform: translateY(-5px);
}
#app-display .display-container .display-card .display-input {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: medium;
  pointer-events: none;
}
#app-display .display-container .display-card .display-input#item-h {
  font-weight: 600;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  margin-bottom: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#app-display .display-container .display-card .display-input#item-p {
  margin: 0 0;
  text-overflow: ellipsis;
  width: 100%;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 780px) {
  #app-display .display-container .display-card .display-input#item-p {
    -webkit-line-clamp: 6;
  }
}
#app-display .space {
  min-height: 70vh;
}

footer {
  display: grid;
  place-items: center;
  min-height: 3rem;
  border-top: 1px solid #c0402b;
  font-size: calc(9px + 1vmin);
}
footer .footer-text {
  font-size: inherits;
  color: #abb0b8;
  opacity: 0.8;
}
footer .footer-text .footer-anchor {
  color: inherit;
  font-size: inherits;
}/*# sourceMappingURL=style.css.map */