* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: whitesmoke;
}
body::-webkit-scrollbar {
  width: 16px;
  background-color: #282c34;
}
body::-webkit-scrollbar-thumb {
  background-color: #c0402b;
  border-radius: 30px;
  border: 3px solid #282c34;
}

code {
  font-family: monospace;
}

.app-display {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 21vw));
  grid-template-rows: auto;
  gap: 1rem;
  margin: 3rem;
}
.app-display .test {
  min-height: 200vh;
}
.app-display .display-main {
  border: 1px solid #c0402b;
  border-radius: 10px;
  background-color: #282c34;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.3) 0px 5px 13px;
  overflow: hidden;
  padding: 0.7rem 1rem;
  transition: none;
  /*edit input------------------------*/
  /**************************************************/
  /**************************************************/
}
.app-display .display-main:hover {
  transform: translateY(-5px);
}
.app-display .display-main .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.app-display .display-main .button-container #delete-icon {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: small;
  padding: 0.5rem 1rem;
  padding: 0.3rem 0.6rem;
  margin-left: 0.3rem;
}
.app-display .display-main .button-container #delete-icon:hover {
  background-color: #24272e;
}
.app-display .display-main .button-container .close-button {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: small;
  padding: 0.5rem 1rem;
  padding: 0.3rem 0.6rem;
  margin-right: 0.3rem;
}
.app-display .display-main .button-container .close-button:hover {
  background-color: #24272e;
}
.app-display .display-main .display-input {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: medium;
  pointer-events: none;
}
.app-display .display-main .display-input#item-h {
  font-weight: 600;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  margin-bottom: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.app-display .display-main .display-input#item-p {
  margin: 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: auto;
  resize: none;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  resize: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.app-display .display-main.popup {
  position: fixed;
  z-index: 98;
  padding-bottom: 40px;
  top: 50%;
  left: 50%;
  min-width: 250px;
  max-width: 500px;
  transform: translate(-50%, -50%) scale(1.5);
  transition: none;
  pointer-events: none;
}
.app-display .display-main.popup .button-container {
  display: flex;
}
.app-display .display-main.popup .display-input#item-h {
  pointer-events: auto;
}
.app-display .display-main.popup .display-input#item-p {
  pointer-events: auto;
  font-family: sans-serif;
  resize: none;
  white-space: pre-wrap;
}
.app-display .overlay.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.5);
}

.app-input {
  display: flex;
  flex-direction: column-reverse;
  max-width: 600px;
  border: 1px solid #c0402b;
  border-radius: 10px;
  padding: 3px;
  margin: 4vh auto;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.3) 0px 5px 13px;
  overflow: hidden;
}
.app-input .input-element {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  outline: none;
  font-size: large;
  width: 100%;
  padding: 0.6rem 1rem;
}
.app-input .input-element#input-title {
  display: none;
  font-weight: 600;
}
.app-input .input-element#input-content {
  font-family: sans-serif;
  resize: none;
  overflow: hidden;
}
.app-input .button-container {
  display: none;
  text-align: right;
}
.app-input .button-container .close-button {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: small;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
.app-input .button-container .close-button:hover {
  background-color: #24272e;
}

.app-header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #282c34;
  padding: 15px 5vw 10px 5vw;
  z-index: 1;
  border-bottom: 1px solid #c0402b;
  z-index: 99;
}
.app-header .keep-logo {
  min-height: 55px;
  min-width: 55px;
  background: url(../visuals/Keep_logo.svg) no-repeat;
}
.app-header .keep-name {
  font-size: large;
}
.app-header .keep-p {
  align-self: center;
  margin-left: auto;
  color: #c0402b;
  font-size: small;
}/*# sourceMappingURL=style.css.map */