* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-family: "Product Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: whitesmoke;
}
body::-webkit-scrollbar {
  width: 16px;
  background-color: #282c34;
}
body::-webkit-scrollbar-thumb {
  background-color: #c0402b;
  border-radius: 30px;
  border: 3px solid #282c34;
}

code {
  font-family: monospace;
}

.app-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 18vw));
  grid-template-rows: auto;
  gap: 1rem;
  margin: 2rem;
}
.app-display .display-item {
  position: relative;
  border: 1px solid #c0402b;
  border-radius: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.3) 0px 5px 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  transition: all 0.3s ease;
}
.app-display .display-item.edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-display .display-item .item-h {
  padding: 0.6rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.app-display .display-item .item-p {
  padding: 0.4rem 0.6rem;
  padding-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.app-display .display-item #delete-icon {
  border-radius: 10px;
  padding: 0.3rem 0.6rem;
  margin-left: 0.3rem;
}
.app-display .display-item #delete-icon:hover {
  background-color: #24272e;
}
.app-display .display-item:hover {
  transform: translateY(-5px);
}
.app-display .display-item .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-display .display-item .button-container .close-button {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;
  padding: 0.3rem 0.6rem;
  margin-right: 0.3rem;
}
.app-display .display-item .button-container .close-button:hover {
  background-color: #24272e;
}

.app-input {
  display: flex;
  flex-direction: column-reverse;
  max-width: 600px;
  border: 1px solid #c0402b;
  border-radius: 10px;
  padding: 3px;
  margin: 6vh auto;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.3) 0px 5px 13px;
  overflow: hidden;
}
.app-input .input-element {
  background-color: transparent;
  font-size: large;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.6rem 1rem;
  color: whitesmoke;
}
.app-input .input-element#input-title {
  display: none;
  font-weight: 600;
}
.app-input .input-element#input-content {
  font-family: sans-serif;
  resize: none;
  overflow: hidden;
}
.app-input .button-container {
  display: none;
  text-align: right;
}
.app-input .button-container .close-button {
  display: inline;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 10px;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
.app-input .button-container .close-button:hover {
  background-color: #24272e;
}

.app-header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  background-color: #282c34;
  padding: 15px 0 10px 5vw;
  z-index: 99;
  border-bottom: 1px solid #c0402b;
}
.app-header .keep-logo {
  height: 70px;
  width: 60px;
  background: url(../visuals/Keep_logo.svg) no-repeat;
}
.app-header .keep-text {
  font-size: x-large;
}/*# sourceMappingURL=style.css.map */