/*variables*/
//color
$background-color: #282c34;
$background-color-dark: #24272e;
$main-color: #c0402b;
$sub-color: #2e4060;
$font-color: whitesmoke;

//size
$logo-size: calc(50px + 1vmin);
$title-size: calc(20px + 1vmin);
$built-size: calc(45px + 1vmin);
$built-size-small: calc(30px + 1vmin);

//etc
$font-family: "Google Sans", Roboto, Arial, sans-serif;
$box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%),
  rgba(0, 0, 0, 0.3) 0px 5px 13px;
$box-shadow-light: rgba(0, 0, 0, 0.5) 0px 1px 5px;
$border-radius: 10px;

/*mixins*/
//responsive
@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

//components
@mixin button {
  display: inline;
  color: $font-color;
  background-color: $background-color;
  border-radius: $border-radius;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $sub-color;
  }
}

@mixin border {
  border: 1px solid $main-color;
  border-radius: $border-radius;
}

@mixin text-color {
  background-color: transparent;
  color: $font-color;
  border: none;
  outline: none;
}

//form components
@mixin form-inputs {
  background-color: transparent;
  color: $font-color;
  border: none;
  outline: none;
  font-size: large;
  width: 100%;
  padding: 0.6rem 1rem;
}

@mixin title-input {
  font-weight: 600;
}

@mixin edit-textarea {
  font-family: sans-serif;
  resize: none;
}
