@use "./_abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  //custom-scrollbar
  &::-webkit-scrollbar {
    width: 16px;
    background-color: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 30px;
    border: 3px solid $background-color;
  }
}

:root {
  --scroll-enabler: auto;
}

body {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: whitesmoke;
  overflow: var(--scroll-enabler);
}

code {
  font-family: monospace;
}

.app {
  position: relative;
}
