@use "./_variables" as *;

.app-display {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  width: 90vw;
  margin: auto;
  gap: 1rem;

  //test
  & .test {
    min-height: 200vh;
  }

  & .display-main {
    border: 1px solid #c0402b;
    border-radius: $border-radius;
    background-color: $background-color;
    box-shadow: $box-shadow;
    overflow: hidden;
    padding: 0.7rem 1rem;
    transition: none;

    &:hover {
      transform: translateY(-5px);
    }

    & .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      display: none;
      justify-content: space-between;
      align-items: center;

      & #delete-icon {
        @include button;
        padding: 0.3rem 0.6rem;
        margin-left: 0.3rem;
      }

      & .close-button {
        @include button;
        padding: 0.3rem 0.6rem;
        margin-right: 0.3rem;
      }
    } //end of button

    /*edit input------------------------*/
    & .display-input {
      font-family: $font-family;
      font-size: medium;
      pointer-events: none;

      &#item-h {
        font-weight: 600;
        @include text-color;
        margin-bottom: 0.3rem;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &#item-p {
        margin: 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        height: auto;
        resize: none;
        @include text-color;
        resize: none;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    } //end of input

    /**************************************************/
    &.popup {
      //comes after hover
      position: fixed;
      z-index: 98;
      padding-bottom: 40px;
      top: 50%;
      left: 50%;
      min-width: 250px;
      max-width: 500px;
      transform: translate(-50%, -50%) scale(1.5);
      transition: none;
      pointer-events: none;

      & .button-container {
        display: flex;
      }

      & .display-input {
        &#item-h {
          pointer-events: auto;
        }

        &#item-p {
          pointer-events: auto;
          font-family: sans-serif;
          resize: none;
          white-space: pre-wrap;
        }
      }
    }

    /**************************************************/
  } //end of each note

  & .overlay {
    &.popup {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 97;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 255, 0.5);
    }
  }
}
