@use "./variables" as *;

.app-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 18vw));
  grid-template-rows: auto;

  gap: 1rem;
  margin: 2rem;

  & .display-item {
    position: relative;
    border: 1px solid #c0402b;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    user-select: none;
    overflow: hidden;
    transition: all 0.3s ease;

    &.edit {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & .item-h {
      padding: 0.6rem;
      font-weight: 600;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & .item-p {
      padding: 0.4rem 0.6rem;
      padding-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: normal;
    }

    //delete & close button

    & #delete-icon {
      border-radius: $border-radius;
      padding: 0.3rem 0.6rem;
      margin-left: 0.3rem;

      &:hover {
        background-color: $background-color-dark;
      }
    }

    &:hover {
      transform: translateY(-5px);
    }

    & .button-container {
      display: flex;
      // display: none;
      justify-content: space-between;
      align-items: center;

      & .close-button {
        @include button;
        padding: 0.3rem 0.6rem;
        margin-right: 0.3rem;
      }
    }
  } //end of each note
}
