@use "./_variables" as *;

.app-form {
  width: 90vw;
  max-width: 600px;
  @include border;
  padding: 3px;
  box-shadow: $box-shadow;
  overflow: hidden;
  margin: 4vh auto;
  margin-bottom: 6vh;

  & .input-element {
    background-color: transparent;
    color: $font-color;
    border: none;
    outline: none;
    font-size: large;
    width: 100%;
    padding: 0.6rem 1rem;

    &#input-title {
      display: none;
      font-weight: 600;
    }

    &#input-content {
      font-family: sans-serif;
      resize: none;
      overflow: hidden;
    }
  }

  & .button-container {
    display: none;
    text-align: right;

    & .close-button {
      @include button;
      margin-right: 0.5rem;
    }
  }
}
