@use "./variables" as *;

.app-input {
  display: flex;
  flex-direction: column-reverse;
  max-width: 600px;
  border: 1px solid #c0402b;
  border-radius: $border-radius;
  padding: 3px;
  margin: 4vh auto;
  box-shadow: $box-shadow;
  overflow: hidden;

  & .input-element {
    background-color: transparent;
    color: $font-color;
    border: none;
    outline: none;
    font-size: large;
    width: 100%;
    padding: 0.6rem 1rem;

    &#input-title {
      display: none;
      font-weight: 600;
    }

    &#input-content {
      font-family: sans-serif;
      resize: none;
      overflow: hidden;
    }
  }

  & .button-container {
    display: none;
    text-align: right;

    & .close-button {
      @include button;
      margin-right: 0.5rem;
    }
  }
}
