@use "./variables" as *;

.app-header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: $background-color;
  padding: 15px 5vw 10px 5vw;
  z-index: 1;
  border-bottom: 1px solid $main-color;
  z-index: 99;

  & .keep-logo {
    min-height: 55px;
    min-width: 55px;
    background: url(../visuals/Keep_logo.svg) no-repeat;
  }

  & .keep-name {
    font-size: large;
  }

  & .keep-p {
    align-self: center;
    margin-left: auto;
    color: $main-color;
    font-size: small;
  }
}
