@use "./_abstracts" as *;

#app-header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: $background-color;
  padding: 15px 2vw 10px 7vw;
  border-bottom: 1px solid $main-color;
  z-index: 98;

  & .main-logo {
    & svg {
      min-width: $logo-size;
      height: $logo-size;
    }
  }

  & .keep-h {
    font-size: $title-size;
  }

  & .built-with {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: $border-radius;
    background-color: $font-color;
    padding: 0.3rem 0.5rem;

    @include mobile {
      padding: 0.2rem 0.3rem;
    }

    & .built-with-logo {
      & svg {
        width: $built-size;
        height: $built-size;
      }

      &:nth-child(even) {
        & svg {
          width: $built-size-small;
          height: $built-size-small;

          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
