$background-color: #282c34;
$background-color-dark: #24272e;
$main-color: #c0402b;
$sub-color: #2e4060;
$font-color: whitesmoke;

$border-radius: 10px;
$box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%),
  rgba(0, 0, 0, 0.3) 0px 5px 13px;

@mixin button {
  display: inline;
  color: $font-color;
  background-color: $background-color;
  border-radius: $border-radius;
  border: none;
  font-size: medium;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $background-color-dark;
  }
}
